<div class="section">
  <div class="container">
    <div class="column is-centered">
      <div class="column is-half">
        <h1 class="title">Editing Tweet</h1>
        <%= render 'form', tweet: @tweet%>
      </div>
    </div>
  </div>
</div>

<div class="navbar is-fixed-bottom">
  <div class="navbar-menu">
    <div class="navbar-item">
      <div class="field is-grouped">
        <p class="control">
          <%= link_to "Cancel", tweets_path, class:"button is-dark" %>
        </p>
      </div>
    </div>
  </div>
</div>
